.header
  .header__info
    .header__info__user-icon
      = icon('fas', 'user')
    %h3.header__info__user-name
      = current_user.name

  -# .header__search
  -#   %form{class: "search"}
  -#     %input{placeholder: "検索", class: "search__form" }
  -#     %input{type: "submit", value: "検索", class: "search__btn"}

  .header__icons
    = link_to edit_user_path(current_user), class: "header__icons__btn" do
      = icon('fas', 'cog', class: "header-btn")
      アカウント編集
    = link_to destroy_user_session_path, method: :delete, class: "header__icons__btn" do
      =icon('fas', 'sign-out-alt', class: "header-btn")
      ログアウト







