.main
  .chat-header
    .chat-header__group
      .chat-header__group__name
        = @group.name
        .group__member
          Member : 
          = @group.users.length

      .chat-header__group__edit
        = link_to edit_group_path(@group), class: "edit" do
          = icon('fas', 'bars', class: "edit-btn")
          グループ編集

  %ul.chat-log
    = render @messages
  
  .chat-form
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      = f.label :image, class: "image-file", title: "画像を選択" do
        = icon('far', 'folder-open', class: "image")
        = f.file_field :image, class: "file"
      .form__message
        = f.text_field :text, class: "text"
      = f.submit "送信", class: "send"
