.main
  .chat-header
    .chat-header__group
      .chat-header__group__name
        = @group.name
      .chat-header__group__edit
        
        = link_to edit_group_path(@group), class: "edit" do
          = icon('fas', 'bars', class: "edit-btn")
          グループ編集

  .chat-log
    = render @messages
  
  .chat-form
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .form__message
        = f.text_field :text, class: "text"
      = f.submit "送信", class: "send"
