.side
  .side__group-lists
    グループ
    = link_to new_group_path, class: "member-add" do
      = icon('fas', 'plus-square', class: 'addition')
  .side__groups
    - current_user.groups.each do |group|
      .groups
        = link_to group_messages_path(group), class: "group" do
          .group__name
            = group.name
          .group__message
            = group.show_last_message
  .side__user-lists
    フレンド
    = link_to users_path, class: "member-add" do
      = icon('fas', 'plus-square', class: 'addition')
  .side__users
    .friends
      -# - user.name.each do |user|
      -#   = link_to user_messages_path(user), class: "friend" do
      -#     .friend__name
      -#       = user.name
      -#     .friend__message
      -#       = user.message